name: deploy

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Install Apigee CLI
        run: |
          curl -L https://raw.githubusercontent.com/apigee/apigeecli/main/downloadLatest.sh | sh -
          export PATH=$PATH:$HOME/.apigeecli/bin

      - name: Save GCP SA Key to file
        run: |
          echo '${{ secrets.GCP_SA_KEY }}' > service-account.json

      - name: Authenticate to Google Cloud
        uses: google-github-actions/auth@v1
        with:
          credentials_json: ${{ secrets.GCP_SA_KEY }}

      - name: Deploy API Proxy to Apigee
        run: |
          export PATH=$PATH:$HOME/.apigeecli/bin
          echo "Deploying proxy..."

          # Debug: show structure
          ls -R ./src/main/apigee/apiproxies/

          # Deploy proxy with correct folder
          apigeecli apis cr
