name: Deploy Proxy to Apigee

on:
  workflow_dispatch:
  push:
    branches: [ main ]

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v3

      - name: Install Apigee CLI
        run: |
          curl -L https://raw.githubusercontent.com/apigee/apigeecli/main/downloadLatest.sh | sh -

      - name: Deploy API Proxy to Apigee
        env:
          APIGEE_ORG: ${{ secrets.APIGEE_ORG }}
          APIGEE_ENV: ${{ secrets.APIGEE_ENV }}
          GCP_SA_KEY: ${{ secrets.GCP_SA_KEY }}

        run: |
          export PATH=$PATH:$HOME/.apigeecli/bin

          apigeecli apis create bundle \
            --org "$APIGEE_ORG" \
            --env "$APIGEE_ENV" \
            --name "book-my-show-proxy" \
            --proxy-folder "./positive-bonbon-480005-d8-book-my-show-proxy/apiproxy" \
            --account <(echo "$GCP_SA_KEY") \
            --ovr \
            --wait
