name: Deploy to Apigee

on:
  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v3

    - name: Install Apigee CLI
      run: |
        curl -L https://raw.githubusercontent.com/apigee/apigeecli/main/downloadLatest.sh | sh -
        export PATH="$PATH:$HOME/.apigeecli/bin"
        apigeecli version

    - name: Authenticate to Google Cloud
      uses: google-github-actions/auth@v1
      with:
        credentials_json: ${{ secrets.GCP_SA_KEY }}

    - name: Set gcloud
      uses: google-github-actions/setup-gcloud@v1

    - name: Deploy API Proxy
      run: |
        export PATH="$PATH:$HOME/.apigeecli/bin"

        apigeecli apis create bundle \
          --name Imobile \
          --project ${{ secrets.GCP_PROJECT_ID }} \
          --folder ./src/main/apigee/apiproxies/Imobile/apiproxy \
          --format json

        apigeecli apis deploy \
          --name Imobile \
          --environment ${{ secrets.APIGEE_ENV }} \
          --project ${{ secrets.GCP_PROJECT_ID }} \
          --format json
